<div class="feed-row">
  <div class="icons">
    <img src="/media/img/icon-plus.png" alt="Project news" />
  </div>
  <p>
    <span>3 classes were added</span>
  </p>
  <div class="icons hotspot">
    <span class="indentation"></span>
    <span class="chakra green">A</span>
  </div>
  <p>
    <span>models.Person</span>
  </p>

  <div class="icons hotspot">
    <span class="indentation"></span>
    <span class="chakra blue">C</span>
  </div>
  <p>
    <span>models.Business</span>
  </p>

  <div class="icons hotspot">
    <span class="indentation"></span>
    <span class="chakra red">F</span>
  </div>
  <p>
    <span>models.Deal</span>
  </p>
  <hr class="lighter" />
</div>
