<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>codervana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="/media/css/bootstrap.css" rel="stylesheet" />
    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/media/css/codervana.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/media/ico/favicon.png" />

  </head>

  <body>
    <div class="container topbar">
      <div class="span2 logo">
        <a href="http://localhost:8000">codervana</a>
      </div>
      <div class="span3 offset4">
        <input type="text" name="search" class="search" placeholder="search in the code" />
      </div>
      <div class="profile menu span2 offset1">
        <a class="profile menu-item" href="#">
          <span>gabrielfalcao</span>
          <img class="profile icon" src="/media/img/profile-icon.png" alt="profile menu" />
        </a>
      </div>

    </div>

    <div id="whiteboard" class="container">
      <div class="row">
        <div class="span12">
          <h1>Coming soon...</h1>
          <hr />
          <br />
        </div>
      </div>
    </div>

    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/bootstrap-transition.js"></script>
    <script src="/media/js/bootstrap-alert.js"></script>
    <script src="/media/js/bootstrap-modal.js"></script>
    <script src="/media/js/bootstrap-dropdown.js"></script>
    <script src="/media/js/bootstrap-scrollspy.js"></script>
    <script src="/media/js/bootstrap-tab.js"></script>
    <script src="/media/js/bootstrap-tooltip.js"></script>
    <script src="/media/js/bootstrap-popover.js"></script>
    <script src="/media/js/bootstrap-button.js"></script>
    <script src="/media/js/bootstrap-collapse.js"></script>
    <script src="/media/js/bootstrap-carousel.js"></script>
    <script src="/media/js/bootstrap-typeahead.js"></script>
    <script src="/media/js/bootstrap-affix.js"></script>
  </body>
</html>
